*{
  margin:0;
  padding:0;
}


.tab{
  box-sizing: border-box;
  margin: 30px;
  border:1px solid gainsboro; 
}


.tab ul li{
  float: left;
  width:33.3%;
  height: 20px;
  background-color:orangered;
  list-style: none;
  text-align: center;
}

.tab ul li:nth-child(1){
  background-color: aquamarine;
}

.tab ul li:nth-child(2){
  background-color: yellowgreen;
}

.tab .con{
  margin:30px 20px;
}